#header1 {
 align-items: center;
 font-family: arial sans-serif;
}




.grid-container {
  display: grid;
  height: 100vh;

  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(212, 199, 199);
  margin-bottom: 20px;
  grid-template-columns: 1 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
  grid-template-areas:
    "right nav nav nav left"
    "right content1 content1 content2 left"
    "right content3 content4 content5 left"
    "right content6 content6 content7 left"
    "right content9 content9 content9 left";
  grid-gap: 0.4rem;
}
#nav {
  background-color: white;
  grid-area: nav;
  height: 60px;
  
}
#navitem {
  margin-left: 50px;
  margin-bottom: 2px;
}
.button {
  background-color: white;
  font-style: bold sans-serif;
  color: rgb(227, 16, 227);
  border-color: rgb(242, 13, 242);
  margin-left: 950px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;

  border-radius: 4px;
}
#right {
  background-color: white;
  grid-area: right;
  width: 50px;
  height:900px;
}
#left {
  background-color: white;
  grid-area: left;
  width: 250px;
  height:900px;
}
#content1 {
  background-color: white;
  grid-area: content1;
  height: 250px;
  padding: 10px
}
#content1item
{
  margin-left: 40px;
}
#content2item
{
  margin-left: 60px;
}
#content3item
{
  margin-left: 120px;
}
#col1
{
  font-size: 18px;
  font-family:  'Arial Bold', sans-serif;;
  margin-left: 30px;
  margin-top: 0px;
}
#col2
{
  font-size: 18px;
  font-family:  'Arial Bold', sans-serif;;
  margin-left: 70px;
  margin-top: 0px;
}
#col3
{
  font-size: 18px;
  font-family:  'Arial Bold', sans-serif;;
  margin-left: 120px;
  margin-top: 0px;
}
#amt
{
  
 
}
#cont1button2
{
  background-color: white;
  font-style: bold sans-serif;
  color: rgb(227, 16, 227);
  border-color: rgb(242, 13, 242);
  margin-left: 40px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
}
#content2 {
  background-color: white;
  grid-area: content2;
  width: 450px;
}
#conten1button
{
  background-color: white;
  font-style: bold sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: rgb(101, 96, 96);
  border-radius: 3px;
  border-color: white;

}
#content3 {
  background-color: white;
  grid-area: content3;
  width: 350px;
  height: 300px;
 
}
#content4 {
  background-color: white;
  grid-area: content4;
  width: 350px;
}
#content5 {
  background-color: white;
  grid-area: content5;
}
#content6 {
  background-color: white;
  grid-area: content6;

}
#content7 {
  background-color: white;
  grid-area: content7;
  height: 270px;
  
}
#content8{
  background-color: white;
  grid-area: content7;
  height:220px;
}
#content9{
  background-color: white;
  grid-area: content9;
}



/*donut code*/
.container{
  display: absolute;
}
.* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 30px;
  
}

.donut-chart {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  border-radius: 100%;
}
p.center {
  background: white;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-style: sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 50%;
  line-height: 65px;
}

.portion-block {
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;
  
}
.circle {
  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;
 
}

#part1 {
  transform: rotate(0deg);
}

#part1 .circle {
  background-color: rgb(193, 70, 193);
  /*transform: rotate(76deg);*/
  animation: first 1s 1 forwards;
}

#part2 {
  transform: rotate(100deg);
}
#part2 .circle {
  background-color: rgb(239, 202, 239);
  animation: second 1s 1 forwards 1s;
}
#part3 {
  transform: rotate(250deg);
}
#part3 .circle {
  background-color: rgb(247, 227, 247);
  animation: third 0.5s 1 forwards 2s;
}

/* Animation */
@keyframes first {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

@keyframes second {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(150deg);
  }
}

@keyframes third {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(111deg);
  }
}
.donutcontent {
  color:red";
  font-size: "max-width: 30em";
  margin-left: 300px;
}

#pic{
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 10px;
}
.flexcontainer
{
  display: flex;
}
#msg
{
  font-family: Arial, bold;
  margin-top: 55px;
  margin-left: 5px;
  
}
#sidebar
{
  color:gray;
  margin-left:12px;
}
#button8
{
  background-color: rgb(225, 198, 225);
  margin-left: 40px;
  border: none;
  margin-top: 4px;
  
}
#Mailbox{
  background-color: lightgrey;
  width: 250px;
  border: 15px solid rgb(250, 249, 250 );
  border-image: top;
  background-color: rgb(113, 37, 113);
  padding: 5px;
  height: 250px;
  color: white;
  

}
#buttonmail
{
  
  font-style: bold sans-serif;
  border-color:1px solid white;
  margin-left: 25px;
  padding: 8px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 30px;
  font-size: 16px;
  border-radius: 4px;
}
#mail
{
  height:75px;
  width: 75px;
  display: block;

  align:top;
}


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #dce5f3;
}

.app {
  width: 95%;
  height: 95vh;
  background-color: #fff;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  border-radius: 15px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  overflow: hidden;
}





.graph {
  background: #fff;
  padding: 5px;
  border-radius: 15px;
  align-items: center
  
}

.graph img {
  width: 80%;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}






/* End Main Content */

@media (max-width: 768px) {
  .app {
    border-radius: 5px;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: auto;
  }

  
 # msg{

  }

  .num{
    font-size: 14px;
  }

 

  .graph:hover,
  .top-selling:hover,
  .customers:hover,
  .orders:hover,
  .plans:hover {
    transform: none;
  }

 


<style>
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: #dce5f3;
}





 

.main-bottom {
  width: 100%;
  height: auto;
  min-height: 80%;
  overflow-y: auto;
  background: #dce5f3;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 25px;
}

.main-bottom-left {
  width: 65%;
  height: 100%;
  align-items: unset;
  gap: 10px;
  justify-content: space-evenly;
}


.graph {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
}

.graph img {
  width: 80%;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}



.stats {
  margin: 10px 0;
}

.top-selling {
  width: 57%;
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  padding: 20px;
}

.customers {
  width: 38%;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
}

.main-bottom h2 {
  font-size: 18px;
  font-weight: 800;
}


.orders {
  margin-bottom: 20px;
}

.orders p {
  font-size: 16px;
  font-weight: 400;
}

.price {
  color: #333;
}

.main-bottom-right h2 {
  margin-bottom: 12px;
}

.order:not(:last-child) {
  margin-bottom: 20px;
}

.progress-bar {
  background: #fff;
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  border: 10px solid #dce5f3;
  border-top-color: #0fa7f5;
  border-right-color: #0fa7f5;
  border-radius: 50%;
}

.graph:hover,
.top-selling:hover,
.customers:hover,
.orders:hover,
.plans:hover {
  transition: 0.3s linear;
  transform: translateY(-5px);
}

/* End Main Content */

@media (max-width: 768px) {
  .app {
    border-radius: 5px;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: auto;
  }

  .side {
    width: 80%;
    height: 70px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: -80px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 10%;
    background: #0fa7f5;
    padding: 10px 0;
    transition: 0.3s;
  }

  .main {
    margin: 0 auto;
    width: 100%;
  }

  .search {
    width: 260px;
  }

  .user {
    display: none;
  }

  .sidebar,
  .sidebar > .flex-c {
    flex-direction: row;
  }

  .sidebar {
    background: #fff;
    width: 90%;
    padding: 0 20px;
    border-radius: 30px;
    z-index: 9999;
  }

  .sidebar-bottom {
    display: none;
  }

  .sidebar-center .icon:not(:last-child) {
    margin-right: 8px;
  }

  .main-top {
    width: 100%;
  }

  .main-top h2 {
    margin-bottom: 10px;
  }

  .main-bottom {
    height: auto;
    margin-bottom: 40px;
  }

  .main-top,
  .main-bottom,
  .main-bottom-left,
  .main-bottom-right,
  .stats {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .top-selling,
  .customers,
  .orders,
  .plans {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .stats,
  .customers {
    margin-bottom: 0;
  }

  .graph:hover,
  .top-selling:hover,
  .customers:hover,
  .orders:hover,
  .plans:hover {
    transform: none;
  }

  .mobile-btn {
    display: block;
    position: absolute;
    top: -60px;
    right: 0;
    color: #fff;
  }

  
    color: #0fa7f5;
  }
}
